# https://clangd.llvm.org/config

# As of tody, this file is tentative.
CompileFlags:
  Add:
    - -std=c99
    - -U__llvm__
    - -D_CLANGD=1
    - --include=../.vscode/c_cpp_intellisense_helper.h
    - -m32 # -m16 doesn't seem to work
  Remove:
    - -^-
    - -a*
    - -b*
    - -c*
    - -d*
    - -e*
    - -f*
    - -g*
    - -h*
    # - -i* # -isystem=XXX is used.
    - -insert_nop_with_label
    - -ignore_files_misra
    - -j*
    - -k*
    - -l*
    - -m*
    - -n*
    - -o*
    - -p*
    - -q*
    - -r*
    - -s*
    - -t*
    - -u*
    - -v*
    - -w*
    - -x*
    - -y*
    - -z*
    - -O*
Diagnostics:
  Suppress:
    - drv_unknown_argument
    - builtin_redeclare # __built_in_va_start
    - main_returns_nonint # main # When -std=XXX is specified.
    - -Wmain-return-type # main # When -std=XXX isn't specified.

# Cannot suppress driver diagnostics #1142
# https://github.com/clangd/clangd/issues/1142

# Clang command line argument reference
# https://clang.llvm.org/docs/ClangCommandLineReference.html

# Clang Compiler User's Manual
# https://clang.llvm.org/docs/UsersManual.html
