# https://clangd.llvm.org/config

# As of tody, this file is tentative.
CompileFlags:
  Remove:
    - -^-
    - -cpu=*
    - -isa=*
    - -optimize=*
    - -size
    - -speed
    - -g*
    - -nomessage=*
    - -type_size_access_to_volatile
    - -nologo*
  Add:
    - -U__llvm__
    - -D_CLANGD=1
    - -D__INTELLISENSE__=1
    - --include=../.vscode/c_cpp_intellisense_helper.h
Diagnostics:
  Suppress:
    - drv_unknown_argument
    - builtin_redeclare
    - redefinition_different_typedef
    - -Wignored-pragmas # for invalid pragma
    - -Winvalid-token-paste # for invalid pragma
    - -Wmain-return-type # for void main(void or arguments)

# Cannot suppress driver diagnostics #1142
# https://github.com/clangd/clangd/issues/1142

# Clang command line argument reference
# https://clang.llvm.org/docs/ClangCommandLineReference.html
